.addModal {
    background-color: #282c34;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    color: white;
    padding: 25px;
}

.addModal label {
    font-size: 20px;
    font-weight: bold;
}

.btnContainer {
    display: flex;
}