.btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.form form {
    border-radius: 15px;
    margin-left: 15px;
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    padding: 35px;

}

.tittleLabel {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
}