.mainParent {
    display: flex;
    flex-direction: row;
}

.cards{
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.select {
    width: 250px;
}
.select label {
    font-weight: bold;
    font-size: 25px;
    color: #282c34
}